

// .container{
//     display: grid;
    
//     // grid-template-columns: 2fr 1fr;
//     // grid-template-columns: 70% 20%;
//     //grid-template-columns: auto auto auto auto;
    
  
//     grid-template-columns: 200px 200px 200px 200px 200px 200px;
//     grid-template-rows:  200px 200px 200px 200px 200px;
//     grid-gap: 10px;
//     grid-template-areas:
//         "b b b b b b" 
//         "b b b b b b"
//         "b b b b b b"
//         "f g r w q y"
//         "m m c c k k";
// }
    
//     p{
//         margin: 0;
//         border: 2px rosybrown;
//     }
//     .p1 {
        
//         background: orange;
//         border: 2px rosybrown;
//         grid-area: "f";
//     }
//     .p4 {
        
//             background: orange;
//             border: 2px rosybrown;
//             grid-area: "g";
//     }
//    .p5{
        
//         background: orange;
//         border: 2px rosybrown;
//         grid-area: "r";
//    }
//     .p2{
       
//         background: rgb(201, 92, 110);
//         border: 2px rosybrown;
//         grid-area: 'b';
//     }
//     .p3 {
//         background: rgb(87, 61, 65);
//         grid-area: 'w';  
//     }
//     .p9{
//         background: rgb(87, 61, 65);
//         grid-area: 'q';  
//     }
//    .p10{
//         background: rgb(87, 61, 65);
//         grid-area: 'y';  
//     }
//     .p6{
       
//         background: rgb(219, 100, 3);
//         grid-area: 'm';
//     }
//     .p7{
//         background: rgb(160, 38, 0);
//         grid-area: 'c';
//     }
//     .p8{
        
//         background: rgb(219, 100, 3);
//         grid-area: 'k';
//     }
   
.container{
            display: grid;
            // grid-template-columns: 2fr 1fr;
            // grid-template-columns: 70% 20%;
            //grid-template-columns: auto auto auto auto;
            grid-template-columns: auto auto auto auto auto auto ;
            grid-template-rows: auto auto auto auto ;
            
            grid-gap: 10px;
            grid-auto-rows: minmax(550px , auto);
            
            p{
                margin: 0;
                border: 2px rosybrown;
            }
            .p1 , .p4 , .p5{
                background: orange;
                border: 2px rosybrown;
                
            }
            .p2{
                grid-column-start: 2;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 4;
                background: rgb(201, 92, 110);
                border: 2px rosybrown;
            }
            .p3 , .p9 , .p10{
                background: rgb(87, 61, 65);
                
            }
            .p6{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 4;
                background: rgb(219, 100, 3);
            }
            .p7{
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 4;
                grid-row-end: 4;
                background: rgb(160, 38, 0);
            }
            .p8{
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 4;
                grid-row-end: 4;
                background: rgb(219, 100, 3);
            }
           
            
        }
        @media screen and (max-width: 480px) {
        
                // when screen is larger than 300px wide
    .container{//change container class
        
        // grid-template-columns: 2fr 1fr;
        // grid-template-columns: 70% 20%;
        //grid-template-columns: auto auto auto auto;
       
        
        .p2{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
            background: rgb(201, 92, 110);
            border: 2px rosybrown;
        }
        
        .p1 , .p4 , .p5{
            background: orange;
            border: 2px rosybrown;
            grid-row-start: 3;
            grid-row-end: 4;
            
        }
        
        .p3 , .p9 , .p10{
            background: rgb(87, 61, 65);
            grid-row-start: 3;
            grid-row-end: 4;
            
        }
        .p6{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
            background: rgb(219, 100, 3);
        }
        .p7{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
            background: rgb(160, 38, 0);
        }
        .p8{
                
            grid-row-start: 4   ;
            grid-row-end: 5;
            background: rgb(219, 100, 3);
        }
       
    
    }
}
@media screen and (max-width: 300px) {

        
    // when screen is larger than 300px wide
.container{//change container class

// grid-template-columns: 2fr 1fr;
// grid-template-columns: 70% 20%;
//grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto auto auto auto auto auto;

.p2{
grid-column-start: 1;
grid-column-end: 7;
grid-row-start: 1;
grid-row-end: 2;
background: rgb(201, 92, 110);
border: 2px rosybrown;
}

.p1 , .p4{
background: orange;
border: 2px rosybrown;
grid-row-start: 3;
grid-row-end: 4;

}
.p5, .p9, .p10{
    background: orange;
    border: 2px rosybrown;
    grid-row-start: 4;
    grid-row-end: 5;
      
}

.p3 {
background: rgb(87, 61, 65);
grid-row-start: 3;
grid-row-end: 4;

}
.p6{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 6;
background: rgb(219, 100, 3);
}
.p7{
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 5;
grid-row-end: 6;
background: rgb(160, 38, 0);
}
.p8{

grid-row-start: 7;
grid-row-end: 8;
background: rgb(219, 100, 3);
}


}
}
  
        
